version: '3.8'

services:
  train:
    build:
      context: .
      dockerfile: dockerfiles/train.dockerfile
    volumes:
      - ./models:/app/models
      - ./reports:/app/reports
      - ./data/processed:/app/data/processed
    
  evaluate:
    build:
      context: .
      dockerfile: dockerfiles/evaluate.dockerfile
    volumes:
      - ./models:/app/models
      - ./reports:/app/reports
      - ./data/processed:/app/data/processed
    depends_on:
      - train
    
  api:
    build:
      context: .
      dockerfile: dockerfiles/api.dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./models:/app/models
    depends_on:
      - train