name: Build Docker Images

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Convert repository name to lowercase
        id: repo_name
        run: echo "REPO_LOWERCASE=$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_OUTPUT

      - name: Build and push train
        uses: docker/build-push-action@v6
        with:
          context: .
          file: dockerfiles/train.dockerfile
          push: true
          tags: ghcr.io/${{ steps.repo_name.outputs.REPO_LOWERCASE }}/train:latest

      - name: Build and push evaluate
        uses: docker/build-push-action@v6
        with:
          context: .
          file: dockerfiles/evaluate.dockerfile
          push: true
          tags: ghcr.io/${{ steps.repo_name.outputs.REPO_LOWERCASE }}/evaluate:latest

      - name: Build and push api
        uses: docker/build-push-action@v6
        with:
          context: .
          file: dockerfiles/api.dockerfile
          push: true
          tags: ghcr.io/${{ steps.repo_name.outputs.REPO_LOWERCASE }}/api:latest