name: Build Docker Images

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install -e .

      - name: Prepare data
        run: |
          python -m fashionmnist_classification_mlops.data data/raw data/processed

      - name: Train model
        run: |
          python -m fashionmnist_classification_mlops.train
          ls -la models/

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Convert repository name to lowercase
        id: repo_name
        run: echo "REPO_LOWERCASE=$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_OUTPUT

      - name: Build and push train
        uses: docker/build-push-action@v6
        with:
          context: .
          file: dockerfiles/train.dockerfile
          push: true
          tags: ghcr.io/${{ steps.repo_name.outputs.REPO_LOWERCASE }}/train:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Build and push evaluate
        uses: docker/build-push-action@v6
        with:
          context: .
          file: dockerfiles/evaluate.dockerfile
          push: true
          tags: ghcr.io/${{ steps.repo_name.outputs.REPO_LOWERCASE }}/evaluate:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Build and push api
        uses: docker/build-push-action@v6
        with:
          context: .
          file: dockerfiles/api.dockerfile
          push: true
          tags: ghcr.io/${{ steps.repo_name.outputs.REPO_LOWERCASE }}/api:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max